taskページ
<%= link_to "トップページ", root_path %>
<%= link_to "作成", new_task_path %>
<table>
  <tr>
   <th>№</th>
   <th>タイトル</th>
   <th>期限</th>
   <th>優先度</th>
  </tr> 
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.id %></td>
      <td><%= task.name %></td>
      <td><%= task.expired_at %></td>
      <td><%= task.priority %></td>
      <td><%= link_to "詳細" , task_path(task)%></td>
      <td><%= link_to "編集", edit_task_path(task) %></td>
      <td><%= link_to  "削除" ,  task_path(task) , data:{turbo_method: :delete, turbo_confirm: "本当に削除しますか"} %></td>
    </tr>
  <%end%>  
</table>