To do作成
<%= link_to "To do一覧", tasks_path %>##prのために差分を生成
<%= form_with model: @task do |form| %>
  
  <div>
    <%= form.label :expired_at %><br>
    <%= form.datetime_field :expired_at %>
    <% if @task.errors.any? %>
    <ul>
      <% @task.errors.full_messages_for(:expired_at).each do |message| %>
      <li><%= message %>  
      <% end %>
    </ul>
    <% end %>
  </div>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% if @task.errors.any? %>
    <ul>
      <% @task.errors.full_messages_for(:name).each do |message| %>
      <li><%= message %>  
      <% end %>
    </ul>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>