<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item"><a href="<%= root_path %>">Home</a></li>
  <li class="breadcrumb-item active" aria-current="page">ログイン</li>
<% end %>

<div class="sessions-center-form">
  <h2>ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :パスワード %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field remember">
        <%= f.check_box :remember_me %>
        <%= f.label :記憶する %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "ログイン" %>
    </div>
  <% end %>

  <div class="register-btn">
    <form action="<%= new_user_registration_path %>" method="get">
      <button type="submit">新規登録</button>
    </form>
  </div>

  <div class="forgot-link">
    <%= link_to 'パスワードを忘れたら', new_user_password_path %>
  </div>
</div>

<%#= render "users/shared/links" %>
